# Ignore everything
*
*/**

# Whitelist files
!LICENSE
!CHANGELOG.md
!out/
!media/
!l10n/
!package.nls.json
!package.nls.ja.json

!resources/icon.png
!resources/webview-icon.svg
!resources/webview-icon-dark.svg
!resources/webview-icon-light.svg
!resources/cmd-icon-dark.svg
!resources/cmd-icon-light.svg
