name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Test build
        run: pnpm run vscode:prepublish

      - name: Type check
        run: pnpm run typecheck
